body {
  background-color: #f9f9f9;
}

.login-container {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #0000001a;
}

.login-container h1 {
  text-align: center;
  color: #333333;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #0056b3;
}

button.logout {
  background-color: #ff4d4d; /* La couleur de fond du bouton est rouge */
  color: white; /* La couleur du texte du bouton est blanche */
  padding: 10px 20px; /* Ajout de padding autour du texte */
  border: none; /* Suppression de la bordure */
  cursor: pointer; /* Le curseur change en main lorsque vous survolez le bouton */
  border-radius: 5px; /* Les coins du bouton sont légèrement arrondis */
  font-size: 1em; /* Taille de police standard */
}

button.logout:hover {
  background-color: #cc0000; /* La couleur de fond du bouton devient plus foncée lorsque vous survolez le bouton */
}
