<div class="login-container">
    <form (ngSubmit)="login()">
        <h1>Connexion</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="model.email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" [(ngModel)]="model.password" name="password" required>
        </div>
        <button type="submit">Se connecter</button>
    </form>
</div>
<p>{{ message }}</p>
